@charset "UTF-8";
/*!
Theme Name: Butterfly Theme
Theme URI: http://underscores.me/
Author: Ronnie Stevens
Author URI: http://underscores.me/
Description: Custom theme: Butterfly Theme, developed by Ronnie Stevens
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: butterfly-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Butterfly Theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, sass/generic/_normalize.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, sass/generic/_normalize.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 31, sass/generic/_normalize.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, sass/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, sass/generic/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, sass/generic/_normalize.scss */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, sass/generic/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, sass/generic/_normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, sass/generic/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, sass/generic/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 116, sass/generic/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, sass/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, sass/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 137, sass/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, sass/generic/_normalize.scss */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, sass/generic/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, sass/generic/_normalize.scss */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, sass/generic/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, sass/generic/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, sass/generic/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, sass/generic/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 229, sass/generic/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
/* line 240, sass/generic/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, sass/generic/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, sass/generic/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, sass/generic/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, sass/generic/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, sass/generic/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, sass/generic/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, sass/generic/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, sass/generic/_normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 328, sass/generic/_normalize.scss */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, sass/generic/_normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 347, sass/generic/_normalize.scss */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* line 3, sass/generic/_box-sizing.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 9, sass/generic/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
/* line 1, sass/base/typography/_typography.scss */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}

/* line 1, sass/base/typography/_headings.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

/* line 9, sass/base/typography/_headings.scss */
h1 {
  color: #0081a1;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1.25rem 0 0.5rem;
  line-height: 3.625rem;
}

/* line 16, sass/base/typography/_headings.scss */
h2 {
  color: #009dc6;
  font-weight: 300;
  font-size: 2rem;
}

/* line 21, sass/base/typography/_headings.scss */
h3, h4 {
  color: #009dc6;
  font-weight: 400;
}

/* line 1, sass/base/typography/_copy.scss */
p {
  margin: 0.75rem 0;
}

/* line 5, sass/base/typography/_copy.scss */
dfn,
cite,
em,
i {
  font-style: italic;
}

/* line 12, sass/base/typography/_copy.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 16, sass/base/typography/_copy.scss */
address {
  margin: 0 0 1.5em;
}

/* line 20, sass/base/typography/_copy.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 30, sass/base/typography/_copy.scss */
code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 37, sass/base/typography/_copy.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 43, sass/base/typography/_copy.scss */
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 49, sass/base/typography/_copy.scss */
big {
  font-size: 125%;
}

/* line 52, sass/base/typography/_copy.scss */
.bold {
  font-weight: 600;
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./fonts/open-sans-v18-latin-300.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("./fonts/open-sans-v18-latin-300italic.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("./fonts/open-sans-v18-latin-regular.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("./fonts/open-sans-v18-latin-italic.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("./fonts/open-sans-v18-latin-600.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("./fonts/open-sans-v18-latin-600italic.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("./fonts/open-sans-v18-latin-700.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("./fonts/open-sans-v18-latin-700italic.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Elements
--------------------------------------------- */
/* line 1, sass/base/elements/_body.scss */
body {
  background: #fff;
}

/* line 1, sass/base/elements/_header.scss */
.site-header {
  background-color: #0d333e;
  border-bottom: solid 12px #009fc7;
}
/* line 4, sass/base/elements/_header.scss */
.site-header #header-inner-wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
  border: solid 1px #0d333e;
  max-width: 980px;
  margin: 0 auto;
}
/* line 10, sass/base/elements/_header.scss */
.site-header #header-inner-wrapper .site-branding {
  padding-left: 1rem;
}
/* line 12, sass/base/elements/_header.scss */
.site-header #header-inner-wrapper .site-branding .site-title {
  display: none;
  margin-bottom: 0;
}
/* line 15, sass/base/elements/_header.scss */
.site-header #header-inner-wrapper .site-branding .site-title a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
/* line 23, sass/base/elements/_header.scss */
.site-header #header-inner-wrapper .site-branding .site-description {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

@media screen and (min-width: 62.5em) {
  /* line 34, sass/base/elements/_header.scss */
  .site-header {
    border-bottom: 0 none;
  }
  /* line 36, sass/base/elements/_header.scss */
  .site-header #header-inner-wrapper {
    grid-template-columns: 30% 70%;
  }
}
/* line 1, sass/base/elements/_hr.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 1, sass/base/elements/_lists.scss */
ul,
ol {
  margin: 0 0 1.5em 1em;
}

/* line 6, sass/base/elements/_lists.scss */
ul {
  list-style: disc;
}

/* line 10, sass/base/elements/_lists.scss */
ol {
  list-style: decimal;
}

/* line 14, sass/base/elements/_lists.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 20, sass/base/elements/_lists.scss */
dt {
  font-weight: 700;
}

/* line 24, sass/base/elements/_lists.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
/* line 2, sass/base/elements/_media.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* line 8, sass/base/elements/_media.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 13, sass/base/elements/_media.scss */
figure {
  margin: 1em 0;
}

/* line 1, sass/base/elements/_tables.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
/* line 1, sass/base/elements/_links.scss */
a {
  color: #4169e1;
}
/* line 4, sass/base/elements/_links.scss */
a:visited {
  color: #800080;
}
/* line 8, sass/base/elements/_links.scss */
a:hover, a:focus, a:active {
  color: #191970;
}
/* line 14, sass/base/elements/_links.scss */
a:focus {
  outline: thin dotted;
}
/* line 18, sass/base/elements/_links.scss */
a:hover, a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
/* line 1, sass/base/elements/_buttons.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
/* line 13, sass/base/elements/_buttons.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
/* line 17, sass/base/elements/_buttons.scss */
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

/* line 23, sass/base/elements/_buttons.scss */
.wp-block-button__link {
  color: #0081a1;
  color: #ffffff;
  background-color: #dd1c13;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 1rem;
  display: inline-block;
}

/* line 1, sass/base/elements/_fields.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
/* line 22, sass/base/elements/_fields.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

/* line 27, sass/base/elements/_fields.scss */
select {
  border: 1px solid #ccc;
}

/* line 31, sass/base/elements/_fields.scss */
textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* line 3, sass/layouts/_no-sidebar.scss */
.no-sidebar .site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer";
}
/* line 11, sass/layouts/_no-sidebar.scss */
.no-sidebar main {
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (min-width: 62.5em) {
  /* line 20, sass/layouts/_no-sidebar.scss */
  .single-post #content {
    display: grid;
    grid-template-columns: auto 25%;
  }
}
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
/* line 1, sass/components/navigation/_navigation.scss */
.main-navigation {
  display: block;
  width: 100%;
}
/* line 4, sass/components/navigation/_navigation.scss */
.main-navigation .menu-item.current-menu-item a {
  border-bottom: solid 2px #bbe7f2;
}
/* line 7, sass/components/navigation/_navigation.scss */
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 1.5rem 0 0;
  padding-left: 0;
}
/* line 12, sass/components/navigation/_navigation.scss */
.main-navigation ul li {
  padding: 0 0.5rem;
}
/* line 15, sass/components/navigation/_navigation.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
/* line 23, sass/components/navigation/_navigation.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
/* line 29, sass/components/navigation/_navigation.scss */
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}
/* line 36, sass/components/navigation/_navigation.scss */
.main-navigation ul ul a {
  width: 200px;
}
/* line 49, sass/components/navigation/_navigation.scss */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
/* line 55, sass/components/navigation/_navigation.scss */
.main-navigation li {
  position: relative;
}
/* line 63, sass/components/navigation/_navigation.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.3rem;
}
/* line 72, sass/components/navigation/_navigation.scss */
.main-navigation a:hover {
  border-bottom: solid 2px #bbe7f2;
}

/* Small menu. */
/* line 87, sass/components/navigation/_navigation.scss */
#openMobileMenu {
  border: 0 none;
  width: 60px;
  height: 50px;
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 30px;
  display: block;
}
/* line 97, sass/components/navigation/_navigation.scss */
#openMobileMenu .toggle-line {
  width: 30px;
  height: 2px;
  background-color: #009fc7;
  margin: 7px auto;
}

@media screen and (min-width: 62.5em) {
  /* line 107, sass/components/navigation/_navigation.scss */
  .menu-toggle, #openMobileMenu {
    display: none;
  }

  /* line 111, sass/components/navigation/_navigation.scss */
  .main-navigation ul {
    display: flex;
    justify-content: flex-end;
  }
}
/* line 121, sass/components/navigation/_navigation.scss */
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
}
/* line 125, sass/components/navigation/_navigation.scss */
.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}
/* line 129, sass/components/navigation/_navigation.scss */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}
/* line 133, sass/components/navigation/_navigation.scss */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* line 1, sass/components/navigation/_topmenu.scss */
#top_menu {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
/* line 6, sass/components/navigation/_topmenu.scss */
#top_menu li a {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #009fc7;
  font-weight: 400;
  line-height: 0.8rem;
}
/* line 12, sass/components/navigation/_topmenu.scss */
#top_menu li a:hover {
  border: 0 none;
  color: #ffffff;
}
/* line 17, sass/components/navigation/_topmenu.scss */
#top_menu li.current-menu-item a {
  border: 0 none;
  color: #ffffff;
}
/* line 24, sass/components/navigation/_topmenu.scss */
#top_menu .menu-item-home a {
  padding-left: 18px;
  background-image: url("./assets/images/home-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 29, sass/components/navigation/_topmenu.scss */
#top_menu .menu-item-home a:hover, #top_menu .menu-item-home a:active {
  background-image: url("./assets/images/home-solid-white.svg");
}
/* line 33, sass/components/navigation/_topmenu.scss */
#top_menu .menu-item-home.current-menu-item a {
  background-image: url("./assets/images/home-solid-white.svg");
}
/* line 37, sass/components/navigation/_topmenu.scss */
#top_menu #menu-item-28 {
  position: relative;
}
/* line 39, sass/components/navigation/_topmenu.scss */
#top_menu #menu-item-28 .counter {
  position: absolute;
  top: -6px;
  right: -5px;
  background-color: #BA0D19;
  display: inline-block;
  color: #ffffff;
  width: 17px;
  height: 17px;
  font-size: 0.8rem;
  padding: 0;
  text-align: center;
  line-height: 1.3;
  border-radius: 50%;
}

@media screen and (max-width: 62.5em) {
  /* line 59, sass/components/navigation/_topmenu.scss */
  #top_menu {
    display: none;
  }
}
/* The Mobile Menu */
/* line 2, sass/components/navigation/_mobilemenu.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #0d333e;
  /* Fallback color */
  /* Close button */
  /* Modal Content/Box */
}
/* line 13, sass/components/navigation/_mobilemenu.scss */
.modal .close {
  color: #009fc7;
  position: absolute;
  right: 26px;
  top: 7px;
  font-size: 50px;
  font-weight: 400;
}
/* line 20, sass/components/navigation/_mobilemenu.scss */
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* line 28, sass/components/navigation/_mobilemenu.scss */
.modal .modal-content {
  margin: auto auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 100%;
  /* Could be more or less, depending on screen size */
}
/* line 32, sass/components/navigation/_mobilemenu.scss */
.modal .modal-content ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 37, sass/components/navigation/_mobilemenu.scss */
.modal .modal-content ul li {
  padding: 0.25rem 0;
}
/* line 39, sass/components/navigation/_mobilemenu.scss */
.modal .modal-content ul li a {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}
/* line 45, sass/components/navigation/_mobilemenu.scss */
.modal .modal-content ul li.current-menu-item a {
  color: #009fc7;
}

/* line 1, sass/components/navigation/_footermenu.scss */
.footer-menu {
  background-color: #0081a1;
}
/* line 4, sass/components/navigation/_footermenu.scss */
.footer-menu .menu-footer-menu-container ul {
  padding: 1rem 0;
  margin-left: 20px;
}
/* line 7, sass/components/navigation/_footermenu.scss */
.footer-menu .menu-footer-menu-container ul li {
  display: inline;
}
/* line 9, sass/components/navigation/_footermenu.scss */
.footer-menu .menu-footer-menu-container ul li a {
  font-size: 0.83rem;
  color: #81d2eb;
  text-decoration: none;
  padding-left: 5px;
  font-weight: 300;
}
/* line 15, sass/components/navigation/_footermenu.scss */
.footer-menu .menu-footer-menu-container ul li a:hover {
  color: #ffffff;
  transition: 0.5s;
}
/* line 22, sass/components/navigation/_footermenu.scss */
.footer-menu .menu-footer-menu-container ul li:not(:last-child) a {
  border-right: solid 1px #009fc7;
  padding: 0 10px 0 5px;
}

/* Posts and pages
--------------------------------------------- */
/* line 1, sass/components/content/_posts-and-pages.scss */
.sticky {
  display: block;
}

/* line 5, sass/components/content/_posts-and-pages.scss */
.post,
.page {
  margin: 0 0 1.5em;
}
/* line 8, sass/components/content/_posts-and-pages.scss */
.post article,
.page article {
  margin: 0 auto;
  width: calc(90% - 20px);
}

/* line 14, sass/components/content/_posts-and-pages.scss */
.updated:not(.published) {
  display: none;
}

/* line 18, sass/components/content/_posts-and-pages.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 24, sass/components/content/_posts-and-pages.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* line 29, sass/components/content/_posts-and-pages.scss */
main a {
  color: #ba0d19;
  border-bottom: solid 1px #ba0d19;
  text-decoration: none;
}
/* line 34, sass/components/content/_posts-and-pages.scss */
main h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: #0081a1;
  margin: 1.25rem 0 0.75rem;
}

/* line 43, sass/components/content/_posts-and-pages.scss */
body.has-sidebar main {
  width: calc( 100% - 25px);
  margin: 0 auto;
}

/* post archive */
/* line 49, sass/components/content/_posts-and-pages.scss */
.grid {
  max-width: 980px;
  display: block;
  column-count: 1;
  margin: 0 auto;
}
/* line 54, sass/components/content/_posts-and-pages.scss */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* line 59, sass/components/content/_posts-and-pages.scss */
.grid .grid-item {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
  background-color: #f2f2f2;
}
/* line 63, sass/components/content/_posts-and-pages.scss */
.grid .grid-item .portret {
  float: left;
}
/* line 66, sass/components/content/_posts-and-pages.scss */
.grid .grid-item a {
  text-decoration: none;
  border-bottom: 0 none;
}
/* line 69, sass/components/content/_posts-and-pages.scss */
.grid .grid-item a div {
  padding: 1rem;
}
/* line 71, sass/components/content/_posts-and-pages.scss */
.grid .grid-item a div h2 {
  padding-top: 0;
  margin-top: 0;
}
/* line 75, sass/components/content/_posts-and-pages.scss */
.grid .grid-item a div p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}
/* line 81, sass/components/content/_posts-and-pages.scss */
.grid .grid-item a div .readmore {
  color: #009dc6;
}

/* line 88, sass/components/content/_posts-and-pages.scss */
.grid-item .quote,
.testimonial .quote {
  quotes: "“" "”" "‘" "’";
}

/* line 92, sass/components/content/_posts-and-pages.scss */
.grid-item .quote::before,
.testimonial .quote::before {
  content: open-quote;
}

/* line 96, sass/components/content/_posts-and-pages.scss */
.grid-item .quote::after,
.testimonial .quote::after {
  content: close-quote;
}

/* line 102, sass/components/content/_posts-and-pages.scss */
#content.testimonials {
  display: block;
}
/* line 105, sass/components/content/_posts-and-pages.scss */
#content.testimonials main .intro {
  font-size: 1.5rem;
  font-weight: 300;
  color: #666666;
}
/* line 112, sass/components/content/_posts-and-pages.scss */
#content.testimonials main .grid .grid-item {
  padding: 20px 20px 18px;
  border-left: solid 4px #009fc7;
}
/* line 115, sass/components/content/_posts-and-pages.scss */
#content.testimonials main .grid .grid-item h3 {
  font-size: 1.375rem;
  font-weight: 600;
  color: #888888;
  font-style: italic;
}
/* line 121, sass/components/content/_posts-and-pages.scss */
#content.testimonials main .grid .grid-item .quote {
  color: #888888;
  font-style: italic;
  margin: 0.75rem 0;
}
/* line 127, sass/components/content/_posts-and-pages.scss */
#content.testimonials main .grid .grid-item .persoon .portret {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* line 134, sass/components/content/_posts-and-pages.scss */
#content.testimonials main .grid .grid-item .persoon .portret img {
  border-radius: 50%;
}
/* line 138, sass/components/content/_posts-and-pages.scss */
#content.testimonials main .grid .grid-item .persoon p {
  margin-left: 100px;
  margin-bottom: 0;
  margin-top: 0;
  color: #888888;
}

/* line 152, sass/components/content/_posts-and-pages.scss */
body.home #banner {
  background-color: transparent;
  background-image: url("/wp-content/themes/butterfly-theme/assets/images/header-blanco-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 240px;
  padding: 0;
}
/* line 160, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper {
  position: relative;
  padding: 0;
  max-width: 980px;
  margin: 0 auto;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 169, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-image img {
  width: 100%;
  display: flex;
}
/* line 174, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  color: #0081a1;
  padding: 1rem;
  text-align: right;
  width: 100%;
  height: 100%;
}
/* line 185, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content .banner-content {
  font-size: 1rem;
  color: #0081a1;
  width: 100%;
  margin-left: 0;
  font-weight: 600;
}
/* line 191, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content .banner-content .wp-block-columns {
  justify-content: flex-end;
  flex-wrap: nowrap;
}
/* line 194, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content .banner-content .wp-block-columns a {
  font-size: 14px;
}
/* line 199, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content .banner-content strong {
  font-weight: 700;
}
/* line 203, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content h1 {
  color: #0081a1;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
}
/* line 212, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content a {
  color: #0081a1;
  background-color: #ffffff;
  border: solid 1px #dd1c13;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 1rem;
  display: inline-block;
}
/* line 221, sass/components/content/_posts-and-pages.scss */
body.home #banner #banner-wrapper #banner-content a:hover {
  background-color: #dd1c13;
  color: #ffffff;
}
/* line 230, sass/components/content/_posts-and-pages.scss */
body.home #homebottom {
  text-align: center;
  margin-top: 3rem;
}
/* line 233, sass/components/content/_posts-and-pages.scss */
body.home #homebottom a {
  padding: 0 1rem;
  text-decoration: none;
  border: 0 none;
}

/* line 242, sass/components/content/_posts-and-pages.scss */
.testimonial {
  background-color: #f7f7f7;
  border-left: solid 4px #009fc7;
  margin-top: 4rem;
  padding: 1.25rem;
}
/* line 247, sass/components/content/_posts-and-pages.scss */
.testimonial h3 {
  font-size: 1.375rem;
  color: #888888;
  font-weight: 600;
  font-style: italic;
  margin: 0;
  line-height: 1.4;
}
/* line 255, sass/components/content/_posts-and-pages.scss */
.testimonial .quote {
  font-style: italic;
  color: #888888;
  font-weight: 400;
}
/* line 260, sass/components/content/_posts-and-pages.scss */
.testimonial .persoon {
  margin-top: 1rem;
}
/* line 262, sass/components/content/_posts-and-pages.scss */
.testimonial .persoon .portret {
  width: 70px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}
/* line 271, sass/components/content/_posts-and-pages.scss */
.testimonial .persoon p {
  color: #888888;
  font-weight: 400;
  margin: 0;
}
/* line 278, sass/components/content/_posts-and-pages.scss */
.testimonial.block {
  margin-top: 1rem;
}

/* line 282, sass/components/content/_posts-and-pages.scss */
.more_testimonials {
  margin-top: 20px;
  display: inline-block;
}

/* line 288, sass/components/content/_posts-and-pages.scss */
article .wpcf7 {
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin-top: 2rem;
  background-color: #f7f7f7;
  border: solid 1px #ccc;
  padding: 1rem 2rem;
}
/* line 295, sass/components/content/_posts-and-pages.scss */
article .wpcf7 img {
  display: inline;
  float: right;
  margin-left: 1rem;
  border-radius: 50%;
  border: solid 1px #ccc;
}
/* line 302, sass/components/content/_posts-and-pages.scss */
article .wpcf7 h2 {
  clear: none;
  margin-top: 2rem;
}
/* line 306, sass/components/content/_posts-and-pages.scss */
article .wpcf7 h5 {
  margin-bottom: 0;
}
/* line 309, sass/components/content/_posts-and-pages.scss */
article .wpcf7 label {
  font-weight: 600;
}
/* line 312, sass/components/content/_posts-and-pages.scss */
article .wpcf7 textarea {
  height: 160px;
  width: 90%;
}
/* line 316, sass/components/content/_posts-and-pages.scss */
article .wpcf7 .wpcf7-submit {
  background-color: #dd1c13;
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}
/* line 327, sass/components/content/_posts-and-pages.scss */
article .wpcf7 .grey {
  color: #888888;
}
/* line 330, sass/components/content/_posts-and-pages.scss */
article .wpcf7 .clearboth {
  clear: both;
  margin-top: 2rem;
}
/* line 334, sass/components/content/_posts-and-pages.scss */
article .wpcf7 input {
  max-width: 100%;
}

/* line 340, sass/components/content/_posts-and-pages.scss */
#page article ul {
  padding-left: 0;
}
/* line 343, sass/components/content/_posts-and-pages.scss */
#page article .wpcf7 {
  background-color: transparent;
  border: 0 none;
  padding-left: 0;
}
/* line 347, sass/components/content/_posts-and-pages.scss */
#page article .wpcf7 textarea {
  width: 92%;
}
/* line 351, sass/components/content/_posts-and-pages.scss */
#page article .left {
  border-right: solid 1px #ccc;
}
/* line 355, sass/components/content/_posts-and-pages.scss */
#page article .right .wp-block-image {
  text-align: center;
}
/* line 358, sass/components/content/_posts-and-pages.scss */
#page article .right .wp-block-image.is-style-rounded img {
  border: solid 1px #ccc;
}
/* line 363, sass/components/content/_posts-and-pages.scss */
#page article .right h4 {
  color: #000;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0;
}
/* line 370, sass/components/content/_posts-and-pages.scss */
#page article .leftcol {
  width: 44%;
  float: left;
}
/* line 374, sass/components/content/_posts-and-pages.scss */
#page article .rightcol {
  width: 44%;
  float: left;
  margin-left: 20px;
}

/* line 381, sass/components/content/_posts-and-pages.scss */
footer.entry-footer {
  background-color: #f2f2f2;
  padding: 1rem;
  font-size: 0.8rem;
}
/* line 385, sass/components/content/_posts-and-pages.scss */
footer.entry-footer .cat-links, footer.entry-footer .tag-links {
  margin-right: 1rem;
}

/* line 391, sass/components/content/_posts-and-pages.scss */
.mc4wp-form label {
  display: block;
}
/* line 394, sass/components/content/_posts-and-pages.scss */
.mc4wp-form input[type="submit"].redbutton {
  background-color: #dd1c13;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 0 none;
  text-transform: uppercase;
  display: inline-block;
}

/* line 404, sass/components/content/_posts-and-pages.scss */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
/* line 410, sass/components/content/_posts-and-pages.scss */
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 419, sass/components/content/_posts-and-pages.scss */
.examples .grid-item {
  background-color: #ffffff;
  display: inline-grid;
  grid-template-columns: 30% 70%;
}
/* line 423, sass/components/content/_posts-and-pages.scss */
.examples .grid-item .logo {
  margin: 0;
  padding: 0.5rem;
}
/* line 426, sass/components/content/_posts-and-pages.scss */
.examples .grid-item .logo img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 4px;
}
/* line 431, sass/components/content/_posts-and-pages.scss */
.examples .grid-item .info {
  padding: 0 0 0 1rem;
}
/* line 433, sass/components/content/_posts-and-pages.scss */
.examples .grid-item .info h3 {
  color: #0081a1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
/* line 439, sass/components/content/_posts-and-pages.scss */
.examples .grid-item .info p {
  font-size: 1rem;
  line-height: 1.6;
}

/* home blog section */
/* line 448, sass/components/content/_posts-and-pages.scss */
.home #blog {
  margin-top: 4rem;
}
/* line 450, sass/components/content/_posts-and-pages.scss */
.home #blog .blog-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
/* line 454, sass/components/content/_posts-and-pages.scss */
.home #blog .blog-wrapper .grid-item {
  display: contents;
}
/* line 456, sass/components/content/_posts-and-pages.scss */
.home #blog .blog-wrapper .grid-item a {
  text-decoration: none;
  border: 0 none;
  display: block;
  background-color: #eee;
}
/* line 461, sass/components/content/_posts-and-pages.scss */
.home #blog .blog-wrapper .grid-item a img {
  width: 100%;
}
/* line 464, sass/components/content/_posts-and-pages.scss */
.home #blog .blog-wrapper .grid-item a p {
  margin: 0;
  font-size: 1rem;
  padding: 0.5rem;
  color: #0081a1;
  font-weight: 600;
}
/* line 475, sass/components/content/_posts-and-pages.scss */
.home #blog .bloglink {
  text-align: center;
}

/* line 480, sass/components/content/_posts-and-pages.scss */
.redbutton {
  color: #ffffff;
  background-color: #dd1c13;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 1rem;
  display: inline-block;
}
/* line 488, sass/components/content/_posts-and-pages.scss */
.redbutton:visited {
  color: #ffffff;
}

/* line 492, sass/components/content/_posts-and-pages.scss */
body.page .post-thumbnail {
  text-align: center;
  background-image: url("/wp-content/themes/butterfly-theme/assets/images/header-blanco-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 560px) {
  /* line 505, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content {
    background: 0 none;
    width: 80%;
  }
  /* line 508, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content h1 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  /* line 516, sass/components/content/_posts-and-pages.scss */
  body.home #blog .blog-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* line 521, sass/components/content/_posts-and-pages.scss */
  .grid {
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  /* line 529, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content {
    background: 0 none;
    width: 70%;
    margin-right: 5%;
  }
  /* line 533, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  /* line 537, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content .banner-content {
    width: 100%;
    margin-left: 0;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  /* line 542, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content .banner-content .wp-block-columns {
    justify-content: flex-end;
  }
  /* line 544, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content .banner-content .wp-block-columns a {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 558, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content {
    background: 0 none;
    width: 60%;
  }
  /* line 561, sass/components/content/_posts-and-pages.scss */
  body.home #banner #banner-wrapper #banner-content h1 {
    margin-top: 1rem;
  }
}
@media (max-width: 599px) {
  /* line 570, sass/components/content/_posts-and-pages.scss */
  .wp-block-column {
    flex-basis: auto !important;
  }
}
/* Comments
--------------------------------------------- */
/* line 1, sass/components/comments/_comments.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 5, sass/components/comments/_comments.scss */
.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
/* line 1, sass/components/widgets/_widgets.scss */
.widget {
  margin: 0 0 1.5em;
  padding: 25px 10px 0 20px;
  background-color: transparent;
}
/* line 6, sass/components/widgets/_widgets.scss */
.widget select {
  max-width: 100%;
}
/* line 9, sass/components/widgets/_widgets.scss */
.widget h2.widget-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  margin-top: 0;
}
/* line 15, sass/components/widgets/_widgets.scss */
.widget p, .widget a {
  font-size: 0.875rem;
}
/* line 18, sass/components/widgets/_widgets.scss */
.widget a {
  color: #ba0d19;
  text-decoration: none;
  border-bottom: solid 1px #ba0d19;
}
/* line 24, sass/components/widgets/_widgets.scss */
.widget.widget_recent_entries {
  padding: 0;
}
/* line 26, sass/components/widgets/_widgets.scss */
.widget.widget_recent_entries .widget-title {
  background-color: #0081a1;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
/* line 31, sass/components/widgets/_widgets.scss */
.widget.widget_recent_entries ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 35, sass/components/widgets/_widgets.scss */
.widget.widget_recent_entries ul li {
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: solid 1px #ffffff;
}
/* line 39, sass/components/widgets/_widgets.scss */
.widget.widget_recent_entries ul li a {
  text-decoration: none;
  color: #0081a1;
  font-size: 1.125rem;
  border: 0 none;
  font-weight: 300;
}

/* line 51, sass/components/widgets/_widgets.scss */
.has-sidebar aside {
  margin: 1rem;
}
/* line 53, sass/components/widgets/_widgets.scss */
.has-sidebar aside .widget {
  background-color: #f2f2f2;
}
/* line 55, sass/components/widgets/_widgets.scss */
.has-sidebar aside .widget a:hover {
  color: #009dc6;
}

/* line 62, sass/components/widgets/_widgets.scss */
#custom_html-3 {
  background-image: url("/wp-content/themes/butterfly-theme/assets/images/rober.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 240px;
}

/* line 69, sass/components/widgets/_widgets.scss */
#home-widgets {
  display: grid;
  grid-template-columns: 1fr;
}
/* line 72, sass/components/widgets/_widgets.scss */
#home-widgets .widget {
  padding-left: 0;
  width: 100%;
}
/* line 75, sass/components/widgets/_widgets.scss */
#home-widgets .widget h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 81, sass/components/widgets/_widgets.scss */
#home-widgets .widget h3 {
  font-size: 1.875rem;
  font-weight: 600;
  color: #0081a1;
  margin: 0;
  line-height: 1;
}
/* line 88, sass/components/widgets/_widgets.scss */
#home-widgets .widget p {
  font-size: 1rem;
}
/* line 91, sass/components/widgets/_widgets.scss */
#home-widgets .widget a {
  background-color: #dd1c13;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  display: inline-block;
}

@media only screen and (min-width: 1000px) {
  /* line 106, sass/components/widgets/_widgets.scss */
  body.home #content {
    grid-template-columns: 100% 0%;
  }
  /* line 108, sass/components/widgets/_widgets.scss */
  body.home #content #home-widgets {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  /* line 114, sass/components/widgets/_widgets.scss */
  #custom_html-3 {
    padding-bottom: 350px;
  }

  /* line 119, sass/components/widgets/_widgets.scss */
  .has-sidebar aside {
    margin: 0;
  }
}
/* line 125, sass/components/widgets/_widgets.scss */
#colophon {
  color: #ffffff;
  font-size: 0.875rem;
}
/* line 128, sass/components/widgets/_widgets.scss */
#colophon h2 {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
}
/* line 134, sass/components/widgets/_widgets.scss */
#colophon a {
  color: #bbe7f2;
  text-decoration: none;
  border-bottom: 0 none;
}
/* line 140, sass/components/widgets/_widgets.scss */
#colophon #custom_html-11 a.download {
  background-image: url("/wp-content/themes/butterfly-theme/assets/images/download-solid.svg");
  background-position: 10px center;
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: #dd1c13;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 1rem 1rem 40px;
  border: 0 none;
  text-transform: uppercase;
  display: inline-block;
}

/* Media
--------------------------------------------- */
/* line 1, sass/components/media/_media.scss */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
/* line 11, sass/components/media/_media.scss */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
/* line 1, sass/components/media/_captions.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
/* line 5, sass/components/media/_captions.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 10, sass/components/media/_captions.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 15, sass/components/media/_captions.scss */
.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
/* line 1, sass/components/media/_galleries.scss */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

/* line 7, sass/components/media/_galleries.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

/* line 16, sass/components/media/_galleries.scss */
.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

/* line 21, sass/components/media/_galleries.scss */
.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
/* line 2, sass/plugins/jetpack/_infinite-scroll.scss */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
/* line 8, sass/plugins/jetpack/_infinite-scroll.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
/* line 2, sass/utilities/_accessibility.scss */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
/* line 14, sass/utilities/_accessibility.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
/* line 36, sass/utilities/_accessibility.scss */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
/* line 1, sass/utilities/_alignments.scss */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

/* line 11, sass/utilities/_alignments.scss */
.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

/* line 21, sass/utilities/_alignments.scss */
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* line 106, sass/style.scss */
footer {
  background-color: #009fc7;
}

@media only screen and (min-width: 1000px) {
  /* line 113, sass/style.scss */
  #colophon .site-info {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* line 119, sass/style.scss */
#content, .site-info, .menu-footer-menu-container {
  max-width: 980px;
  padding: 0;
}

/* line 123, sass/style.scss */
.site-info, .menu-footer-menu-container {
  margin: 1rem auto;
}

/* line 126, sass/style.scss */
#content {
  margin: 0 auto 1rem auto;
}

/* line 130, sass/style.scss */
#colophon .site-info {
  display: grid;
  grid-template-columns: 1;
}

/* line 135, sass/style.scss */
.mc4wp-checkbox-contact-form-7 input {
  margin-right: 1rem;
}
