/* open-sans-300 - latin */
@font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 300;
     font-display: swap;
     src: local('Open Sans Light'), local('OpenSans-Light'),
          url('./fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* open-sans-300italic - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 300;
     font-display: swap;
     src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
          url('./fonts/open-sans-v18-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* open-sans-regular - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local('Open Sans Regular'), local('OpenSans-Regular'),
          url('./fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* open-sans-italic - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 400;
     font-display: swap;
     src: local('Open Sans Italic'), local('OpenSans-Italic'),
          url('./fonts/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* open-sans-600 - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-display: swap;
     src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
          url('./fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* open-sans-600italic - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 600;
     font-display: swap;
     src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
          url('./fonts/open-sans-v18-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* open-sans-700 - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: local('Open Sans Bold'), local('OpenSans-Bold'),
          url('./fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* open-sans-700italic - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 700;
     font-display: swap;
     src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
          url('./fonts/open-sans-v18-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./fonts/open-sans-v18-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }