h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
h1 {
	color: $color__footer-menu;
	font-size: 2.5rem;
	font-weight: 300;
	margin: 1.25rem 0 0.5rem;
	line-height: 3.625rem;
}
h2 {
	color: $color__h2;
	font-weight: 300;
	font-size: 2rem;
}
h3, h4 {
	color: $color__h2;
	font-weight: 400;
}