.footer-menu {
    background-color: $color__footer-menu;
    .menu-footer-menu-container {    
        ul {
            padding: 1rem 0;
            margin-left: 20px;
            li {
                display: inline;
                a {    
                    font-size: 0.83rem;
                    color: $color__footer-menuitems;
                    text-decoration: none;
                    padding-left: 5px;
                    font-weight: 300;
                    &:hover {
                        color: $color__white;
                        transition: 0.5s;
                    }
                }
        
                &:not(:last-child) {
                    a {
                        border-right: solid 1px $color__light-blue;
                        padding: 0 10px 0 5px;
                        }
                }
            }
        }
    }
}