.site-header {
    background-color: $color__dark-blue;
    border-bottom: solid 12px $color__light-blue;
    #header-inner-wrapper {
        display: grid;
        grid-template-columns: 80% 20%;
        border: solid 1px #0d333e;
        max-width: 980px;
        margin: 0 auto;
        .site-branding {
            padding-left: 1rem;
            .site-title {
                display: none;
                margin-bottom: 0;
                a {
                    color: $color__white;
                    text-decoration: none;
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
            }
            .site-description {
                color: $color__white;
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: 0.85rem;
            }
        }
    }
}

@media screen and (min-width: 62.5em) {
    .site-header {
        border-bottom: 0 none;
        #header-inner-wrapper {
            grid-template-columns: 30% 70%;
        }
    }
}