.widget {
	margin: 0 0 1.5em;
	padding: 25px 10px 0 20px;
	background-color: $color__background-widget;
	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
	h2.widget-title {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.875rem;
		margin-top: 0;
	}
	p, a {
		font-size: 0.875rem;
	}
	a {
		color: $color__link-content;
		text-decoration: none;
		border-bottom: solid 1px $color__link-content;

	}
	&.widget_recent_entries	{
		padding: 0;
		.widget-title {
			background-color: $color__footer-menu;
			color: $color__white;
			padding: 0.5rem 1rem;
		}
		ul {
			list-style-type: none;
			margin-left: 0;
			padding-left: 0;
			li {
				display: block;
				padding: 0.5rem 1rem;
				border-bottom: solid 1px $color__white;
				a {
					text-decoration: none;
					color: $color__footer-menu;
					font-size: 1.125rem;
					border: 0 none;
					font-weight: 300;
				}
			}
		}
	}
}
.has-sidebar {
	aside {
		margin: 1rem;
		.widget {
			background-color: #f2f2f2;
			a:hover {
				color: $color__h2;
			}
		}
	}

}
#custom_html-3 {
	background-image: url('/wp-content/themes/butterfly-theme/assets/images/rober.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 240px;
}

#home-widgets {
	display: grid;
	grid-template-columns: 1fr;
	.widget {
		padding-left: 0;
		width: 100%;
		h2 {
			font-size: 1rem;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		h3 {
			font-size: 1.875rem;
			font-weight: 600;
			color: $color__footer-menu;
			margin: 0;
			line-height: 1;
		}
		p {
			font-size: 1rem;
		}
		a {
			background-color: $color__red;
			color: $color__white;
			padding: 0.5rem 1rem;
			border-radius: 5px;
			text-transform: uppercase;
			font-weight: 600;
			margin-top: 1rem;
			display: inline-block;
		}
	}
}

@media only screen and (min-width: 1000px) {
	body.home {
		#content {
			grid-template-columns: 100% 0%;
			#home-widgets {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 1rem;
			}
		}
	}
	#custom_html-3 {
		padding-bottom: 350px;
		
	}
	.has-sidebar {
		aside {
			margin: 0;
		}
	}
}

#colophon {
	color: $color__white;
	font-size: 0.875rem;
	h2 {
		color: $color__white;

		font-size: 1.5rem;
		margin: 0;
	}
	a {
        color: $color__grey-blue;
        text-decoration: none;
        border-bottom: 0 none;
    }
	#custom_html-11 {
		a.download {
			background-image: url('/wp-content/themes/butterfly-theme/assets/images/download-solid.svg');
			background-position: 10px center;
			background-size: 20px;
			background-repeat: no-repeat;
			background-color: $color__red;
			color: $color__white;
			font-weight: 600;
			padding: 1rem 1rem 1rem 40px;
			border: 0 none;
			text-transform: uppercase;
			display: inline-block;
		}
	}
}

