$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__footer-menu: #0081a1;
$color__footer-menuitems: #81d2eb;
$color__background-widget: transparent;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-content: #ba0d19;
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-testimonial: #009fc7;

$color__dark-blue: #0d333e;
$color__grey-blue: #bbe7f2;
$color__light-blue: #009fc7;
$color__white: #ffffff;
$color__black: #000000;
$color__h2: #009dc6;
$color__red: #dd1c13;

$color__blogitembg: #f2f2f2;
$color__grey: #888888;
$color__light-grey: #f7f7f7;
$color__darkergrey: #666666